<!DOCTYPE html>{% load static %}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 50px;
        }
        .status.status-passed {
            background-color: #c8f0c0;
            color: #3c763d;
        }

        .status.status-failed {
            background-color: #f2c8ca;
            color: #a94442;
        }

        .status.status-skipped {
            background-color: #fcf8cb;
            color: #8a6d3b;
        }

        .status.status-fixed {
            background-color: #d9edf7;
            color: #31708f;
        }

        .status.status-regression {
            background-color: #f5f5f5;
            color: #777777;
        }

        .status.status-empty {
            background-color: #dff0d8;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'core_job_list' %}">
                <img src="{% static 'logo.svg' %}" width="58" style="margin-top: -20px;">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'core_job_list' %}">Jobs</a></li>
                <li><a href="{% url 'repos_list' %}">Repos</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    {% block content %}{% endblock %}
    </div>
</body>
</html>