{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h3>
        {% if diff %}
            Diff for {{ job }} #{{ build.number }}
        {% else %}
            Tests for {{ job }} #{{ build.number }}
        {% endif %}
    </h3>
    {% if build.repo and build.repo.def_job %}
        {% if diff %}
            <a href="{% url 'core_build_tests' name=job.name number=build.number %}">Tests for {{ job }} #{{ build.number }}</a>
        {% else %}
            <a href="{% url 'core_build_diff' name=job.name number=build.number %}">DIFF with {{ build.repo.def_job }}</a>
        {% endif %}
    {% endif %}
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Test</th>
            <th>Status</th>
            {% for number in def_builds_numbers %}
                <th>Build #{{ number }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for test in tests %}
    <tr>
        <td>
            {{ test.name }}
            <a href="{% url 'test_passages' name=build.repo test=test.name %}">
                <span class="glyphicon glyphicon-list"></span>
            </a>
        </td>
        <td class="status status-{{ test.status|lower|default:'empty' }}">
            {{ test.status|slice:':4' }}
        </td>
        {% if diff %}
            {% for def_test in test.def_tests %}
                <td class="status status-{{ def_test.status|lower|default:'empty' }}">
                    {{ def_test.status|slice:':4' }}
                </td>
            {% endfor %}
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}