{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h3>{{ job }}</h3>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Build</th>
            <th>Status</th>
            <th>Nonde</th>
            <th>Repo</th>
            <th>Branch</th>
            <th>Rev</th>
            <th>Task</th>
            <th>J User</th>
            <th>Passage</th>
            <th>Tests</th>
        </tr>
    </thead>
    <tbody>
    {% for build in object_list %}
    <tr>
        <td>
            #{{ build.number }}
            <a href="http://jenkins.ezd.lan/job/{{ build.job }}/{{ build.number }}/">
                <span class="glyphicon glyphicon-share"></span>
            </a>
        </td>
        <td>
            {{ build.status }}
        </td>
        <td>
            {{ build.node }}
        </td>
        <td>
            {{ build.repo }}
            <a href="http://git.ezd.lan/?p={{ build.repo }}.git;a=summary">
                <span class="glyphicon glyphicon-share"></span>
            </a>
        </td>
        <td>
            {{ build.branch }}
            <a href="http://git.ezd.lan/?p={{ build.repo }}.git;a=shortlog;h=refs/heads/{{ build.branch }}">
                <span class="glyphicon glyphicon-share"></span>
            </a>
        </td>
        <td>
            {% if build.revision %}
                <code>{{ build.short_revision }}</code>
                <a href="http://git.ezd.lan/?p={{ build.repo }}.git;a=commit;h={{ build.revision }}">
                    <span class="glyphicon glyphicon-share"></span>
                </a>
            {% endif %}
        </td>
        <td>
            {% if build.branch and build.branch.task_number %}
                <a href="http://t/{{ build.branch.task_number }}">
                    <span class="glyphicon glyphicon-pushpin"></span>
                    {{ build.branch.task_number }}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if build.juser %}
                {{ build.juser }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if build.tests_count %}
                <span class="label label-success" title="passed">{{ build.tests_passed_count }}</span>
                <span class="label label-danger" title="failed">{{ build.tests_failed_count }}</span>
                {% if build.tests_skipped_count %}
                    <span class="label label-warning" title="skipped">{{ build.tests_skipped_count }}</span>
                {% endif %}
                {% if build.tests_fixed_count %}
                    <span class="label label-info" title="fixed">{{ build.tests_fixed_count }}</span>
                {% endif %}
                {% if build.tests_regression_count %}
                    <span class="label label-default" title="regression">{{ build.tests_regression_count }}</span>
                {% endif %}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if build.tests_count %}
                <a href="{% url 'core_build_tests' name=job.name number=build.number %}">
                    <span class="glyphicon glyphicon-list"></span>
                    {{ build.tests_count }}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}