{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h3>All jobs</h3>
</div>


<form class="form-inline">
    <div class="form-group">
        <label>Name</label>
        <input type="search" name="name_search" class="form-control input-sm" placeholder="Search by name">
    </div>
    <button type="submit" class="btn btn-default btn-sm">Search</button>
</form>

<hr>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Job</th>
            <th>Builds</th>
            <th>Repo</th>
            <th>Branch</th>
            <th>J User</th>
            <th>
                <span class="glyphicon glyphicon-list"></span>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for job in object_list %}
    <tr>
        <td>
            <a href="{% url 'core_job' name=job.name %}">{{ job.name }}</a>
        </td>
        <td>
            {{ job.build_set.count }}
        </td>
        <td>
            {{ job.get_repo | default:'-' }}
        </td>
        <td>
            {{ job.get_branch | default:'-' }}
        </td>
        <td>
            {{ job.get_juser | default:'-' }}
        </td>
        <td>
            <a href="{% url 'core_job_tests' name=job.name %}">
                <span class="glyphicon glyphicon-list"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}