{% extends 'base.html' %}

{% block head %}
    <style>
        .job-tests-table {
            width: auto;
        }

        .job-tests-table > tbody {

        }

        .job-tests-table > tbody > tr {
        }

        .job-tests-table > tbody > tr > td {
            font-size: 12px;
            line-height: normal;
        }

        .job-tests-table > tbody > tr > td.testname {
        }

        .job-tests-table > tbody > tr > td.status {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}

<div class="page-header">
    <h3>Tests for {{ job }}</h3>
</div>

<div class="row">
    <div class="col-md-10">
        {% if pages and pages|length > 1 %}
        <ul class="pagination" style="margin: 0;">
        {% for p in pages %}
            {% if p == page %}
                <li class="active">
                    <a href="{% url 'core_job_tests' name=job.name page=p size=page_size %}">{{ p }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'core_job_tests' name=job.name page=p size=page_size %}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Show:
                {% for k, v in pagination_options %}
                    {% if k == page_size %}
                        {{ v }}
                    {% endif %}
                {% endfor %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for k, v in pagination_options %}
                    <li><a href="{% url 'core_job_tests' name=job.name page=1 size=k %}">{{ v }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<hr>

<table class="table table-condensed table-bordered job-tests-table">
    <thead>
        <tr>
            <th>Test</th>
            {% for build in builds %}
            <th>
                {{ build.number }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for name, builds in tests_results %}
    <tr>
        <td class="testname">
            {{ name }}
            <a href="{% url 'test_passages' name=job.get_repo test=name %}">
                <span class="glyphicon glyphicon-list"></span>
            </a>
        </td>
        {% for build, status in builds %}
        <td class="status status-{{ status|lower|default:'empty' }}">
            {% if status == 'PASSED' %}
                +
            {% elif status == 'FAILED' %}
                -
            {% elif status == 'SKIPPED' %}
                s
            {% elif status == 'FIXED' %}
                f
            {% elif status == 'REGRESSION' %}
                r
            {% elif not status %}

            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}