{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h3>{{ repo }} tests</h3>
</div>


<form class="form-inline">
    <div class="form-group">
        <label>Name</label>
        <input type="search" name="name_search" class="form-control input-sm" placeholder="Search by name" value="{{ request.GET.name_search|default:'' }}">
    </div>
    <button type="submit" class="btn btn-default btn-sm">Search</button>
</form>

<hr>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Test name</th>
        </tr>
    </thead>
    <tbody>
    {% for test in tests %}
    <tr>
        <td>
            <a href="{% url 'test_passages' name=repo.display_name test=test %}">
                {{ test }}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}