{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h3>Repos</h3>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Repo name</th>
            <th>Tests</th>
            <th>Default job</th>
        </tr>
    </thead>
    <tbody>
    {% for repo in object_list %}
    <tr>
        <td>
            {{ repo }}
        </td>
        <td>
            {% if repo.tests_count %}
                <a href="{% url 'repo_tests' name=repo.display_name %}">
                    <span class="glyphicon glyphicon-list"></span>
                    {{ repo.tests_count }}
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            {% if repo.def_job %}
                <a href="{% url 'core_job' name=repo.def_job.name %}">{{ repo.def_job }}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}