{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h4>{{ repo }} test {{ test }} passages</h4>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Date</th>
            <th>Job</th>
            <th>Build</th>
            <th>Branch</th>
            <th>Rev</th>
            <th>J User</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for test in tests %}
    <tr>
        <td>
            <div>
                {{ test.build.build_at }}
            </div>
        </td>
        <td>
            <div style="max-width: 20em; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;">
                {{ test.build.job }}
            </div>
        </td>
        <td>
            {{ test.build.number }}
        </td>
        <td>
            {{ test.build.branch }}
        </td>
        <td>
            {{ test.build.short_revision }}
        </td>
        <td>
            {{ test.build.juser }}
        </td>
        <td class="status status-{{ test.status|lower|default:'empty' }}">
            {{ test.status|slice:':4' }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}